body {
	padding-top: 50px;
}

#headerWrapper {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/headerimg.png);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

/*#logotext{
  position: absolute;
  width:100%;
  height:400px;
  background-image: url("../images/headerlogo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 180px;
  top:50%;
  margin-top: -90px;
}*/

.img-thumb {
	width: auto;
	height: 200px;
}

#footer {
	margin-top: 50px;
}

img.details {
	width: 90%%;
	margin: 15px auto;
}

.table-auto {
	width: auto;
	margin: 0 auto;
}

#add-product-btn {
	margin-top: -35px;
}

.saved-photo img{
	width:200px;
	height: auto;
}
#login-form{
	width:50%;
	height: 60%;
	border: 2px solid #000;
	box-shadow: : 7px 7px 15px rgba(0,0,0,0,6);
	border-radius: 15px;
	margin: 7% auto;
	padding:15px;
	background-color: #fff;

}
.totals-table-header th{
	text-align: center;
}
